.pages {
 	font: 83%/1.4 arial, helvetica, sans-serif;
    padding: 1em;
    clear: left;
    font-size: 85%;
    float:right;
}

.pages a, .pages span {
	color:#003366;
    display: block;
    float: left;
    padding: 0.2em 0.5em;
    margin-right: 0.1em;
    border: 1px solid #fff;
    background: #fff;
}

.pages .selected {
    border: 1px solid #2E6AB1;
    font-weight: bold;
    background: #2E6AB1;
    color: #fff;
}

.pages a {
    border: 1px solid #9AAFE5;
    text-decoration: none;
}

.pages a:hover {
    border-color: #2E6AB1;
}